@import '~@fontsource/montserrat';


html {
  font-family: 'Montserrat', sans-serif;
  touch-action: pan-x pan-y;
  touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -ms-touch-action: pan-x pan-y;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$primary-color: #026e00;
$primary-color-hover: #014c00;
$secondary-color: black;

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.073);
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

/* Firefox */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-thumb {
  background-color: $primary-color;
}

::-webkit-scrollbar-track {
  background-color: $secondary-color;
}

/* Firefox */
::-moz-scrollbar-track {
  background-color: $secondary-color;
}

/* IE, Edge */
::-ms-scrollbar-track {
  background-color: $secondary-color;
}

/* IE, Edge */
::-ms-scrollbar {
  width: 5px;
}

::-ms-scrollbar-thumb {
  background-color: $primary-color;
}

.base-content {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.site-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-navbar-responsive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .header-menu-responsive {
    margin-right: 1rem;
  }

  .header-menu-icon {
    font-size: 1.5rem;
  }

  .header-navbar-title {
    text-align: center;
    flex-grow: 1;
  }
}

.dark-theme {
  background-color: black;
  color: white;

  .header-navbar-responsive {
    background: black;
    border-bottom: 1px solid #3f3f3f;
  }
}

.light-theme {}

.header-navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.full-image-crop {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.full-image {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background-color: $primary-color;
}

/* For mobile devices */
@media (max-width: 767px) {
  .full-image {
    min-height: 100vh;
    height: 100vh;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-title {
  font-weight: bold;
  // color: $primary-color !important;
  font-size: 2rem;
  // margin-bottom: 0.5rem;
}

.banner-subtitle {
  font-weight: bold;
  color: white !important;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.card-home {
  @media (min-width: 767px) {
    min-height: 650px;
  }
}

.section-services {
  margin-top: 2rem;

  .services-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

.margin-top-medium {
  margin-top: 1rem;
}

.margin-top-large {
  margin-top: 2rem;
}

.padding-bottom-large {
  padding-bottom: 3rem;
}

.desktop-image {
  width: 100%;
  display: block;
}

.mobile-image {
  display: none;
}

@media (max-width: 767px) {
  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    width: 100%;
  }
}

.ant-float-btn-primary .ant-float-btn-body {
  background-color: #25d366;
}

.button-primary {
  background: $primary-color;
  scale: 1.2;

  &:hover {
    background: $primary-color-hover !important;
  }
}

.button-secondary {
  background: $secondary-color;
  scale: 1.2;

  &:hover {
    background: $primary-color-hover !important;
  }
}

.horizontal-scroll-container {
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;

  .content-wrapper {
    display: inline-block;
    animation: scroll 2s linear infinite;
    // background: red;
    margin-left: 1rem;
    margin-right: 1rem;

    img {
      height: 100px;
      border-radius: 50%;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.partner {
  img {
    height: 100px;
    border-radius: 50%;
  }
}

.section-full-screen {
  min-height: 100vh;
}